# Importing Required Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Loading the DataSet

In [2]:
train = pd.read_csv('tblTrain.csv')
test = pd.read_csv('tblTest.csv')

In [3]:
train.head()

                                 Name  Duration   Genre  Rating
0  #Gadhvi (He thought he was Gandhi)        99   Drama     7.0
1                            @Andheri       126  Action     4.0
2           1:1.6 An Ode to Lost Love        86   Drama     6.2
3         13B: Fear Has a New Address       136   Drama     7.3
4                         15th August       158   Drama     5.6